@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
  <table class="table-condensed table-borderless">
    <tbody>
      <tr>
        <td></td>
        <td><i @onclick="@First" class="fas fa-angle-double-left" data-toggle="tooltip" data-placement="top" title="Jump to the first move."></i></td>
        <td><i @onclick="@Previous" class="fas fa-angle-left" data-placement="top" title="Go to the previous move."></i></td>
        <td><i @onclick="@Next" class="fas fa-angle-right" data-placement="top" title="Go to the next move."></i></td>
        <td><i @onclick="@Last" class="fas fa-angle-double-right" data-placement="top" title="Jump to the last move."></i></td>
        <i class=""></i>
      </tr>
    </tbody>
  </table>
  <table class="table-condensed table-borderless">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">red</th>
        <th scope="col">black</th>
      </tr>
    </thead>
    <tbody>
      @for (int i = 0, j = 1; i < this.GameModel.Game.Moves.Count; i += 2, j++)
      {
        <tr>
          <td>@j</td>
          <MoveComponent GameModel="@this.GameModel" Index="@(i)"/>
          <MoveComponent GameModel="@this.GameModel" Index="@(i + 1)"/>
        </tr>
      }
    </tbody>
  </table>
</div>