@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
  <table class="table-condensed table-borderless">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"><MudText Typo="Typo.overline" Style="font-size: medium">Red</MudText></th>
        <th scope="col"><MudText Typo="Typo.overline" Style="font-size: medium">Black</MudText></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var (moveNumber, redIndex, blackIndex) in this.MoveNumbers())
      {
        <tr>
          <td>
            <MudText Typo="Typo.overline">@moveNumber</MudText>
          </td>
          <MoveComponent GameModel="@this.GameModel" Index="@redIndex"/>
          <MoveComponent GameModel="@this.GameModel" Index="@blackIndex"/>
        </tr>
      }
    </tbody>
  </table>
</div>