@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
  <table class="table-condensed table-borderless">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">red</th>
        <th scope="col">black</th>
      </tr>
    </thead>
    <tbody>
      @for (int i = 0, j = 1; i < this.GameModel.Game.Moves.Count; i += 2, j++)
      {
        <tr>
          <td>@j</td>
          <MoveComponent GameModel="@this.GameModel" Index="@(i)"/>
          <MoveComponent GameModel="@this.GameModel" Index="@(i + 1)"/>
        </tr>
      }
    </tbody>
  </table>
</div>