@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
  <div>
    <MudText Typo="Typo.overline" Style="font-size: medium; margin-left: 30px">Red</MudText>
    <MudText Typo="Typo.overline" Style="font-size: medium; margin-left: 55px">Black</MudText>
  </div>

  <table id="movesTable" class="table-condensed table-borderless">
    <tbody>
    @foreach ( var (moveNumber, redIndex, blackIndex) in this.MoveNumbers() )
    {
      <tr>
        <td>
          <MudText Typo="Typo.overline">@moveNumber</MudText>
        </td>
        <MoveComponent GameModel="@this.GameModel" Index="@redIndex"/>
        <MoveComponent GameModel="@this.GameModel" Index="@blackIndex"/>
      </tr>
    }
    </tbody>
  </table>
</div>