@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="wrapper">
  <div>
    <MudText Typo="Typo.overline" Style="font-size: large">
      @this.Player.Name
      &nbsp;
      @this.PotentialPoints()
      &nbsp;
      @if (this.ShowExtendClockButton())
      {
        <MudTooltip Text="Within 12 hours running out of time, you can get an extra 12 hours on your clock">
          <MudIconButton Icon="@Icons.Material.Filled.MoreTime" Color="Color.Secondary" OnClick="@this.Extend" aria-label=""/>
        </MudTooltip>
      }
    </MudText>

    @if (this.ShowClock)
    {
      <span class="clock">
        <ClockComponent ClockRunsOutAt="@this.GameModel.Game.ClockRunsOutAt!.Value"/>
      </span>
    }
  </div>
  <div>
    <CapturedPiecesComponent
      GameModel="@this.GameModel"
      CurrentColor="@this.CurrentColor"/>
  </div>
</div>