@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<MudLayout>
  <MudThemeProvider Theme="@this.theme" />
  <MudAppBar Elevation="1">
    <MudIconButton
      Icon="@Icons.Material.Filled.Menu"
      Color="Color.Inherit"
      Edge="Edge.Start"
      Size="Size.Small"
      OnClick="@(_ => this.ToggleDrawer())"/>
    <MudSpacer/>
    <MudTooltip Text="@(this.darkMode ? "Switch to light mode" : "Switch to dark mode")">
      <MudIconButton
        Icon="@(this.darkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)"
        Color="Color.Inherit"
        Edge="Edge.Start"
        Size="Size.Small"
        Style="margin-right: 10px"
        OnClick="@(_ => this.ToggleDarkMode())"/>
    </MudTooltip>
    <LoginControl/>
  </MudAppBar>
  <MudDrawer @bind-Open="@this.drawerOpen" Elevation="2">
    <MudDrawerHeader>
      <MudText Typo="Typo.h5" Class="mt-1">Xi</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
      <MudNavLink Href="/home" Icon="fas fa-home">Home</MudNavLink>
      <MudNavLink Href="/games" Icon="fas fa-bars">Games</MudNavLink>
      <MudNavLink Href="/players" Icon="fas fa-users">Players</MudNavLink>
      <MudNavLink Href="/account" Icon="fas fa-user-cog">Account</MudNavLink>
    </MudNavMenu>
  </MudDrawer>
  <MudMainContent>
    <div id="main">
      @base.Body
    </div>
  </MudMainContent>
</MudLayout>