@page "/games/{gameId:int}"
@attribute [Authorize]

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (this.GameState.Value.IsLoading)
{
  <p>Loading...</p>
}

@if(GameState.Value.GameModel != null)
{
  var model = this.GameState.Value.GameModel!;
  var game = model.Game!;

  <div class="container">
    <div class="left-element">
      <h3>Game @game.Id</h3>

        <PlayerComponent Player="@game.BlackPlayer"/>

        <BoardComponent
          Board="@model.CurrentBoard()"
          HighlightedCells="@model.HighlightedCells()" />

        <PlayerComponent Player="@game.RedPlayer"/>
    </div>
    <div class="right-element">
      <MovesComponent GameModel="@model" />
    </div>
  </div>
}

@if (this.GameState.Value.HasErrors)
{
  <p>Computer says no... :(</p>
  <p>@GameState.Value.ErrorMessage</p>
}

