@page "/games"
@attribute [Authorize]

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (this.GamesState.Value.IsLoading)
{
  <p>Loading...</p>
}
else if (this.GamesState.Value.HasErrors)
{
  <p>Computer says no... :(</p>
  <p>@this.GamesState.Value.ErrorMessage</p>
}
else if (this.GamesState.Value.GameViewModels != null)
{
  <h2>Games</h2>

  <p>
    <a href="/games/new" class="btn btn-primary btn-sm" role="button" aria-disabled="true">
      <i class="fa fa-plus"></i>
      New game
    </a>
  </p>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Red</th>
      <th scope="col">Black</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var gameViewModel in GamesState.Value.GameViewModels)
    {
      <tr @onclick="@(() => this.NavigationManager.NavigateTo($"/games/{@gameViewModel.Game.Id}"))" class="game-row">
        <th scope="row">@gameViewModel.Game.Id</th>
        <td>@gameViewModel.Game.RedPlayer.Name</td>
        <td>@gameViewModel.Game.BlackPlayer.Name</td>
        <td>@gameViewModel.Game.Result()</td>
      </tr>
    }
    </tbody>
  </table>
}
