@page "/games/{gameId:int}"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (this.GameState.Value.IsLoading)
{
  <p>Loading...</p>
}

@if(GameState.Value.GameViewModel != null)
{
  var game = GameState.Value.GameViewModel.Game!;

  <h3>Game @game.Id</h3>

  <PlayerComponent Player="@GameState.Value.GameViewModel.Game!.BlackPlayer"/>

  <BoardComponent
    Board="@GameState.Value.GameViewModel.Game.CurrentBoard()"
    HighlightedCells="@GameState.Value.GameViewModel.HighlightedCells()" />

  <PlayerComponent Player="@GameState.Value.GameViewModel.Game!.RedPlayer"/>
}

@if (this.GameState.Value.HasErrors)
{
  <p>Computer says no... :(</p>
  <p>@GameState.Value.ErrorMessage</p>
}

