@page "/games/{gameId:int}"
@attribute [Authorize]

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (this.GameState.Value.IsLoading)
{
  <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else if (this.GameState.Value.GameModel != null)
{
  var model = GameState.Value.GameModel;
  var game = model.Game;

  <div class="container">
    <div class="left-element">
      <MudText Typo="Typo.h5">Game @game.Id</MudText>

      <PlayerComponent
        IsTop="@true"
        FlipBoard="@this.FlipBoard()"
        GameModel="@model" />

      <BoardComponent
        Board="@model.CurrentBoard()"
        HighlightedCells="@model.HighlightedCells(this.Current.Settings().ShowPossibleMoves)"
        FlipBoard="@this.FlipBoard()" />

      <PlayerComponent
        IsTop="@false"
        FlipBoard="@this.FlipBoard()"
        GameModel="@model" />

      <div class="game-actions">
        @if (game.IsOver())
        {
          <MudText Typo="Typo.body2">@game.Result()</MudText>
        }
        else if (game.Accepted)
        {
          <MudButton OnClick="@this.Forfeit" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Forfeit</MudButton>
          <MudButton OnClick="@this.ProposeDraw" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small">Draw</MudButton>
        }
      </div>
    </div>
    <div class="right-element">
      <MovesComponent GameModel="@model" />
    </div>
  </div>
}