@page "/games/new"
@attribute [Authorize]

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h2>New game</h2>

<EditForm Model="@NewGameModel" OnValidSubmit="@HandleSubmit">
  <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="form-group">
    <label for="PlayingWithColor">Playing with</label>
    <InputSelect class="form-control" id="PlayingWithColor" @bind-Value="@NewGameModel.PlayingWithColor">
      <option value="@Xi.Models.Game.Color.Red">Red</option>
      <option value="@Xi.Models.Game.Color.Black">Black</option>
    </InputSelect>
  </div>

  <div class="form-group">
    <label for="OpponentPlayerId">Against opponent</label>
    <InputSelect class="form-control" id="OpponentPlayerId" @bind-Value="@NewGameModel.OpponentPlayerId">
      @foreach (var player in PlayerService.AllPlayers())
      {
        <option value="@player.Id">@player.Name</option>
      }
    </InputSelect>
  </div>

  <div class="form-group">
    <label for="DaysPerMove">With days per move</label>
    <InputSelect class="form-control" id="DaysPerMove" @bind-Value="@NewGameModel.DaysPerMove">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </InputSelect>
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

